$color-bg: #333333;
$color-text: #ccc;
$color-ponsse: #fece21;
$color-warning: #fe8921;

$color-gradient-from: #505050;
$color-gradient-to: #383838;

$opensans: 'Open Sans', sans-serif;

$margin: 10px;

html, body, #body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: $color-text;
    background: $color-bg;
    font-family: $opensans;
    font-size: 16px;
}

#view {
    height: calc(100% - 100px);

    @media (max-width: 700px) {
        height: calc(100% - 57px);
    }
}

#map {
    width: 100%;
    height: 100%;
    color: #000;

    &.placing {
        cursor: crosshair !important;
    }

    .harvester {
        height: 50px;
        width: 50px;
        background: url("static/scorpion.jpg");
        background-size: cover;
        border-radius: 50%;
        border: 3px solid #333;
    }
}

textarea {
    font-size: 16px;
    padding: 5px;
}

*:focus {
    outline: none;
}

button {
    background: $color-ponsse;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    margin: 10px;

    &.cancel {
        background: $color-warning;
    }
}

#pagemap {
    .mapui {
        position: absolute;
        bottom: 5px;
        left: 10px;
        display: flex;
        flex-direction: column;

        .button {
            width: 40px;
            height: 40px;
            @extend .ponssebox;
            margin: 5px 0px;
            text-decoration: none;
            display: inline-block;
            padding: 5px 5px;
            color: $color-text;
            text-align: center;
            font-size: 8px;
            cursor: pointer;

            i {
                font-size: 20px;
                display: block;
            }

            &:hover {
                color: $color-ponsse;
            }

            &.active {
                color: $color-ponsse;
                border-color: $color-ponsse;
            }
        }
    }


    .modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: rgba(0,0,0,0.4);
        display: flex;

        .content {
            align-self: center;
            padding: 20px;
            margin: 0 auto;
            min-width: 500px;
            text-align: center;

            h2 {
                margin: 0 0 20px 0;
            }

            textarea {
                width: 100%;
                height: 150px;
            }
        }
    }

    .message {
        position: absolute;
        z-index: 1;
        bottom: 10px;
        width: 100%;
        > div {
            margin: 0 auto;
            padding: 10px;
            display: block;
            max-width: 500px;
            text-align: center;

            button {
                padding: 5px 10px;
                margin: 0;
            }
        }
    }

}

.ponssebox {
    border-radius: 10px;
    border: 2px solid #ccc;
    background: -webkit-linear-gradient(top,  $color-gradient-from 0%,$color-gradient-to 100%);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.4);
}

header {
    background: $color-bg;
    padding: $margin;
    height: 80px;
    border-bottom: 2px solid #ccc;

    .logo {
        display: inline-block;
        position: relative;
        top: -$margin;
        left: $margin*2;
        text-decoration: none;

        span {
            display: inline-block;
            background: $color-ponsse;
            margin: 0px 2px;
            text-align: center;
            width: 30px;
            padding: 20px 2px 2px 2px;
            color: black;
            font-size: 20px;
            font-weight: 700;
        }
        div {
            color: $color-text;
            font-size: 30px;
            text-align: center;
            margin-top: 5px;
            text-transform: uppercase;
            letter-spacing: 0.2px;
        }
    }


    .buttons {
        float: right;

        a {
            width: 60px;
            height: 60px;
            @extend .ponssebox;
            margin: 0 5px;
            text-decoration: none;
            display: inline-block;
            padding: 5px 5px;
            color: $color-text;
            text-align: center;
            font-size: 14px;

            i {
                font-size: 30px;
                display: block;
            }

            &:hover {
                color: $color-ponsse;
            }

            &.active {
                color: $color-ponsse;
                border-color: $color-ponsse;
            }
        }
    }

    @media (max-width: 700px) {
        height: 45px;
        padding: 5px;

        .logo {
            left: 5px;
            span {
                font-size: 10px;
                width: 20px;
                padding: 10px 2px 2px 2px;
            }
            div {
                font-size: 16px;
            }
        }

        .buttons {
            a {
                width: 30px;
                height: 30px;
                padding: 5px;
                font-size: 7px;

                i {
                    font-size: 15px;
                }
            }
        }
    }

    @media (max-width: 400px) {
        .logo {
            padding-left: 0px;
        }
        .buttons {
            a {
                width: 20px;
                height: 20px;
                padding: 2px;

                i {
                    font-size: 15px;
                }

                span {
                    display: none;
                }
            }
        }
    }
}

.pagecontainer {
    margin: 0px auto;
    padding: 20px;
    max-width: 800px;
}

#settingspage {
    .ponssebox {
        text-align: center;
        font-size: 20px;
        padding: 20px;
        margin: 20px auto;
        max-width: 400px;

        i {
            display: block;
            font-size: 40px;
        }
    }
}

.map-icon {
    margin-left: -20px;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid $color-ponsse;
    color: $color-ponsse;
    background: rgba(0,0,0,0.6);
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

#pagedash {
    background: url("static/fimage.jpg");
    background-size: cover;
    height: 100%;

    .ponssebox {
        padding: 10px;
        h1 {
            text-align: center;
        }
    }

    a {
        color: #ccc;
    }
}

.failedcommand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #fff;
    color: red;
}

#tyopage {
    &.runkolukko {
        background: red;
    }

    .type, .size {
        position: relative;
        margin: 2% 2.5%;
        font-size: 90px;
        padding: 60px;
        text-align: center;
    }

    h3 {
        margin: 0;
        font-size: 30px;
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

#saapage {
    .weather > div {
        display: flex;
        margin: 10px 10px;
        justify-content: space-around;
        font-size: 30px;

        > div {
            align-self: center;
            text-align: center;
        }
    }

    .icon {
        width: 120px;
        height: 120px;
        background-size: auto 120px;
        background-position: top left;
        background-image: url("http://yle.fi/saa/skins/jGXxLmJf10946/uutiset/img/saa/svg/weather-symbols-day-240px-vertical.svg");

        &.CLEAR {
            background-position: 0 0
        }

        &.PARTLY_CLOUDY {
            background-position: -116px 0
        }

        &.CLOUDY {
            background-position: -232px 0
        }

        &.LIGHT_RAIN_SHOWERS {
            background-position: -348px 0
        }

        &.RAIN_SHOWERS {
            background-position: -464px 0
        }

        &.HEAVY_RAIN_SHOWERS {
            background-position: -580px 0
        }

        &.LIGHT_RAIN {
            background-position: -696px 0
        }

        &.RAIN {
            background-position: -812px 0
        }

        &.HEAVY_RAIN {
            background-position: -928px 0
        }

        &.LIGHT_SNOW_SHOWERS {
            background-position: -1044px 0
        }

        &.SNOW_SHOWERS {
            background-position: -1160px 0
        }

        &.HEAVY_SNOW_SHOWERS {
            background-position: -1276px 0
        }

        &.LIGHT_SNOWFALL {
            background-position: -1392px 0
        }

        &.SNOWFALL {
            background-position: -1508px 0
        }

        &.HEAVY_SNOWFALL {
            background-position: -1624px 0
        }

        &.THUNDERSHOWERS {
            background-position: -1740px 0
        }

        &.STRONG_THUNDERSHOWERS {
            background-position: -1856px 0
        }

        &.THUNDER {
            background-position: -1972px 0
        }

        &.HEAVY_THUNDER {
            background-position: -2088px 0
        }

        &.LIGHT_SLEET_SHOWERS {
            background-position: -2204px 0
        }

        &.SLEET_SHOWERS {
            background-position: -2320px 0
        }

        &.HEAVY_SLEET_SHOWERS {
            background-position: -2436px 0
        }

        &.LIGHT_SLEET {
            background-position: -2552px 0
        }

        &.SLEET {
            background-position: -2668px 0
        }

        &.HEAVY_SLEET {
            background-position: -2784px 0
        }

        &.MOSTLY_CLOUDY {
            background-position: -2900px 0
        }

        &.FOG {
            background-position: -3016px 0
        }
    }
}
