<div id="map" ng-class="{placing: mapCtrl.mode != null}"></div>
<div id="pagemap">
    <div class="mapui">
        <!--
        <div class="button" ng-click="mapCtrl.startArea()">
            <i class="icon ion-android-alert"></i>
            Alue
        </div>
    -->
        <div class="button" ng-click="mapCtrl.mode = 'drawdanger'">
            <i class="icon ion-android-alert"></i>
            Vaara
        </div>
        <div class="button" ng-click="mapCtrl.mode = 'drawwet'">
            <i class="icon ion-waterdrop"></i>
            Kosteikko
        </div>
        <div class="button" ng-click="mapCtrl.mode = 'clickplace'">
            <i class="icon ion-flag"></i>
            Merkitse
        </div>
    </div>
    <div class="message">
        <div class="ponssebox" ng-show="mapCtrl.mode == 'clickplace'">
            Klikkaa/paina paikkaan, johon haluat merkinnän.
            <button class="cancel" ng-click="mapCtrl.cancel()">Peruuta</button>
        </div>
        <div class="ponssebox" ng-show="mapCtrl.mode == 'drawwet'">
            Piirrä märkä alue
            <button class="cancel" ng-click="mapCtrl.cancel()">Peruuta</button>
        </div>
        <div class="ponssebox" ng-show="mapCtrl.mode == 'drawdanger'">
            Piirrä vaara alue
            <button class="cancel" ng-click="mapCtrl.cancel()">Peruuta</button>
        </div>
    </div>
    <div class="modal" ng-show="mapCtrl.modal != null">
        <div class="content ponssebox">
            <div class="addflag" ng-show="mapCtrl.modal == 'addflag'">
                <h2>Lisää viesti</h2>
                <textarea type="text" ng-model="mapCtrl.flagtext" placeholder="Kirjoita viestisi tähän"></textarea>
                <button class="cancel" ng-click="mapCtrl.cancel()">Peruuta</button>
                <button ng-click="mapCtrl.addFlag()">Lisää</button>
            </div>
        </div>
    </div>
</div>
